<!DOCTYPE html>

<html>
  <head>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
  </head>

  <body ng-app="DebugEditorApp">

    <div ng-controller="DebugEditorCtrl as debugEditor" class="container">

      <h1>Yarn Debug Editor</h1>
      <p>Choose a story. Make a new story. Add a node. Edit a node.</p>

      <div ng-if="story_ids.length > 0">
        <form ng-submit="edit_story(chosen_story_id)" >
          <div class="form-group">
            <select class="form-control" required
              ng-options="story_id for story_id in story_ids" ng-model="chosen_story_id">
              <option value="">Choose a story</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary"
            ng-disabled="!chosen_story_id">
            Load Story
          </button>
        </form>
      </div>

      <div>
        <button type="button" class="btn btn-primary"
          ng-click="new_story()">
          New Story
        </button>
        <button type="button" class="btn btn-primary"
          ng-click="clear_stories()">
          Clear Stories
        </button>
      </div>

      <div>
        <h1>
          Editing:
          <a name="{{ story.title }}" editable-text="story.title" onbeforesave="story.update_title($data)">
            {{ story.title }}
          </a>
        </h1>

        <div>
          <form>
            <div class="form-group">
              <input class="form-control" placeholder="Node title" ng-model="new_node.node_id" required/>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Node text" ng-model="new_node.text"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Add A Node"
              ng-click="add_node_to_story(new_node.node_id, new_node.text)" ng-disabled="!new_node.node_id"/>
          </form>
        </div>

        <div ng-repeat="(node_id, text) in story.nodes" class="row">

          <div class="col-xs-12">
            <h2>
              <a name="{{ node_id }}" editable-text="node_id" onbeforesave="story.update_node_id(node_id, $data)">
                {{ node_id }}
              </a>
            </h2>
            <a href="#" editable-textarea="text" e-rows="6" e-cols="40" onbeforesave="story.update_node_text(node_id, $data)">
              <pre>{{ text }}</pre>
            </a>
          </div>

          <div class="col-xs-12" ng-repeat="edge in graph.edges_by_node(node_id)">
            Edges:
            <a href="#{{ edge.destination }}">{{ edge.destination }}</a>
          </div>

        </div>

        <button type="button" class="btn btn-primary"
            ng-click="save_story()">
          Save
        </button>

        <button type="button" class="btn btn-primary"
            ng-click="launch_story()">
          Play Story
        </button>
      </div>

    </div>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/undermore/bin/undermore.js"></script>
    <!-- endbower -->

    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
